.link-wrapper--position {
    text-align: right;
}

.icons__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: stretch;
}

img {
    width: 100%;
    height: auto;
}

.title__img {
    width: 200px;
}

tr, td, th {
    border: 1px solid #fff !important;
}

td {
    width: 50% !important;
    font-size: 1rem !important;
}

.column__title {
    text-align: center !important;
}